
@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <title>Assignment</title>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans
         :wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Google fonts-->
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">


    <!-- bootstrap css-->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

</head>
<body>

    <section id="home-page">

        <div class="home-image">
            <img src="~/Images/home/banner-with-overlay.jpg">



        </div>

        <div class="container">
            <div class="row">

                <div class="home-logo">
                    <header>
                        <nav class="navbar navbar-fixed-top">
                            <div class="container-fluid">
                                <div class="site-nav-wrapper">
                                    <div class="container">
                                        <div class="navbar-header"><a href="" class="navbar-brand"><img src="~/Images/pre-login/logo.png" alt=""></a></div>
                                    </div>
                                    <div class="container">
                                        <div class="collapse navbar-collapse">
                                            <ul class="nav navbar-nav pull-right">
                                                <li><a href="#"><span>@Html.ActionLink("Search Note", "SearchNote", "SearchNote")</span></a></li>
                                                <li><a href="#"><span>Sell Your Notes</span></a></li>
                                                <li><a href="#"><span>@Html.ActionLink("Buyer Request", "BuyerRequest", "BuyerRequest")</span></a></li>
                                                <li><a href="#"><span>@Html.ActionLink("FAQ", "FAQ", "FAQ")</span></a></li>
                                                <li><a href="#"><span>@Html.ActionLink("Contact Us", "ContactUs", "Home")</span></a></li>

                                                <li><button class="btn-user-logout" type="submit" style="background-color:#6255a5;">@Html.ActionLink("LogOut", "LogOut", "Register")</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </header>

                </div>

                <div class="home-download-text">
                    <h3>Download Free/Paid Notes</h3>
                    <h3>or Sale your Book</h3>
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui delectus voluptatum, iste? Error dignissimos.</p>
                        <button class="btn-home-learnmore" type="button">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <div class="home-middle-text">
                        <h3>About</h3>
                        <h3>NotesMarketPlace</h3>
                    </div>


                </div>
                <div class="col-md-7">
                    <div class="home-middle-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt illum perferendis nulla sint provident, eveniet earum, et neque culpa tempore voluptatum accusantium possimus saepe repudiandae dolorem, in asperiores omnis ea.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum aspernatur suscipit perferendis numquam. Culpa mollitia quibusdam sunt sequi aperiam, harum dolorum aliquam blanditiis eaque voluptates asperiores reiciendis maiores assumenda quod.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-middle-01">
            <div class="container">
                <div class="row">
                    <div class="home-middle text-center">

                        <h3 class="text-center">How it Works</h3>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="home-download">
                                <img src="~/Images/home/download.png" class="text-center">
                                <h4>Download Free/Paid Notes</h4>
                                <p>Get Material for your</p>
                                <p>Cource etc.</p>
                                <button class="btn-home-download" type="button">DOWNLOAD</button>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="home-seller">
                                <img src="~/Images/home/seller.png">
                                <h4>Seller</h4>
                                <p>Upload and Download Cource</p>
                                <p>and Materials etc.</p>
                                <button class="btn-home-download" type="button">SELL BOOK</button>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="home-customer-text">
                    <h3>What Our Customers Are Saying</h3>

                    <div class="col-md-6">
                        <div class="home-customer">
                            <div class="col-md-2">
                                <img src="~/Images/home/customer-1.png">
                            </div>
                            <div class="col-md-10">
                                <h4>Walter Meller</h4>
                                <h5>Founder & CEO Matrix Group</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint quisquam, aspernatur vel accusamus et hic sit corrupti voluptatum quam soluta facere eaque porro sapiente, quo error inventore distinctio rerum!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="home-customer">
                        <div class="col-md-2">
                            <img src="~/Images/home/customer-2.png">
                        </div>
                        <div class="col-md-10">
                            <h4>Walter Meller</h4>
                            <h5>Founder & CEO Matrix Group</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint quisquam, aspernatur vel accusamus et hic sit corrupti voluptatum quam soluta facere eaque porro sapiente, quo error inventore distinctio rerum!</p>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="home-customer">
                        <div class="col-md-2">
                            <img src="~/Images/home/customer-3.png">
                        </div>
                        <div class="col-md-10">
                            <h4>Walter Meller</h4>
                            <h5>Founder & CEO Matrix Group</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint quisquam, aspernatur vel accusamus et hic sit corrupti voluptatum quam soluta facere eaque porro sapiente, quo error inventore distinctio rerum!</p>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="home-customer">
                        <div class="col-md-2">
                            <img src="~/Images/home/customer-4.png">
                        </div>
                        <div class="col-md-10">
                            <h4>Walter Meller</h4>
                            <h5>Founder & CEO Matrix Group</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sint quisquam, aspernatur vel accusamus et hic sit corrupti voluptatum quam soluta facere eaque porro sapiente, quo error inventore distinctio rerum!</p>
                    </div>

                </div>



            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="user-end-01">
                    <p>Copyright <i class="fa fa-copyright"></i> All rights reserved</p>

                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




    </section>


    <!--jquery -->
    <script src="~/js/jquery.js"></script>

    <!--Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    <script src="~/js/jquery.validate.min.js"></script>

    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>

    <!--custom js-->
    <script src="~/js/script.js"></script>
</body>
</html>

