
@{
    ViewBag.Title = "SearchNote";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <title>Assignment-3</title>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans
         :wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Google fonts-->
    <!-- Fontawesome-->
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">


    <!-- bootstrap css-->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>


    <section id="search-page">


        <div class="container">

            <div class="row">

                <div class="nav">

                    <img src="~/Images/pre-login/logo.png">



                    <ul>
                        <li><a href="#"><span>@Html.ActionLink("Search Note", "SearchNote", "SearchNote")</span></a></li>
                        <li><a href="#">Sell Your Notes</a></li>
                        <li><a href="#"><span>@Html.ActionLink("Buyer Request", "BuyerRequest", "BuyerRequest")</span></a></li>
                        <li><a href="#"><span>@Html.ActionLink("FAQ", "FAQ", "FAQ")</span></a></li>
                        <li><a href="#"><span>@Html.ActionLink("Contact Us", "COntactUs", "Home")</span></a></li>
                        <li><a href="#"><img src="~/Images/User-Profile/user-img.png"></a></li>
                        <li><button class="btn-user-logout" type="submit" style="background-color:#6255a5;">@Html.ActionLink("LogOut", "LogOut", "Register")</button></li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="user-profile-image">

            <img src="~/Images/User-Profile/banner-with-overlay.jpg">
            <div class="user">
                <h2>Contact Us</h2>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="search-heading">
                    <h3>Search and Filter notes</h3>


                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="search-page-icon">

                    <div class="col-md-12">


                        <input type="text" id="search-01" name="search" placeholder="Search notes here">

                    </div>

                    <div class="col-md-2">
                        <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                            <option>Select type</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                            <option>Select Category</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                            <option>Select University</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                            <option>Select Course</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                            <option>Select Country</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                            <option>Select rating</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="search-heading">
                    <h3>Total 18 notes</h3>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="search-photo">
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search1.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search2.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search3.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search4.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search5.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search6.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search1.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search2.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="book">
                            <img src="~/Images/search/search3.png">
                            <h4>Computer Operating Syatem-Final Exam Book With Paper Solution</h4>
                            <i class="fa fa-university"> University Of California, US</i><br>
                            <i class="fa fa-book"> 204 Pages</i><br>
                            <i class="fa fa-calendar" aria-hidden="true"> Thu, nov 26 2020</i><br>
                            <i class="fa fa-flag"><div class="flag"> 5 Users marked this note as inappropriate</div></i><br>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <div class="reviews"> 100 Reviews</div>
                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation example" class="text-center">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="user-end-01">
                    <p>Copyright <i class="fa fa-copyright"></i> All rights reserved</p>

                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>



    </section>



    <!--jquery -->
    <script src="js/jquery.js"></script>

    <!--Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!--custom js-->
    <script src="js/script.js"></script>

</body>
</html>

