

@model MitProjectAssignment.Models.EditNotesViewModel
@{

    ViewBag.Title = "AddNotes";
    Layout = null;
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <title>Edit Notes</title>

    <link rel="shortcut icon" href="~/Images/home/favicon.ico" />


    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans
         :wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Google fonts-->
    <!-- Fontawesome-->
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">


    <!-- bootstrap css-->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/style.css">


</head>
<body>


    <section id="user-profile-page">

        <div class="container">

            <div class="row">

                <div class="nav">

                    <img src="~/Images/pre-login/logo.png">



                    <ul>
                        <li><a href="@Url.Action("SearchNote","SearchNote")">Search Note</a></li>
                        <li><a href="@Url.Action("Dashboard","Dashboard")">Sell Your Notes</a></li>
                        <li><a href="@Url.Action("BuyerRequest","BuyerRequest")">Buyer Request</a></li>
                        <li><a href="@Url.Action("FAQ","FAQ")">FAQ</a></li>
                        <li><a href="@Url.Action("ContactUs","Home")">Contactus</a></li>


                        <li>

                            <img src="~/Images/User-Profile/user-img.png" />


                        </li>

                        <li><button class="btn-user-logout" type="submit" style="background-color:#6255a5;" onclick="location.href='@Url.Action("Logout", "Register")'">Logout</button></li>
                    </ul>

                </div>
            </div>

        </div>


        <div class="user-profile-image">

            <img src="~/Images/User-Profile/banner-with-overlay.jpg">
            <div class="user">
                <h2>Edit Notes</h2>
            </div>
        </div>

        @using (Html.BeginForm("EditNotes", "AddNotes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="content-box-up">
                <div class="container">


                    <div class="row">

                        <h3 style="color:#6255a5">Basic Note Details</h3>


                        <div class="col-md-6">
                            <div class="form-group-add-01">
                                <label class="control-label-add" style="font-weight:100">TItle *</label>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Enter your notes tiitle" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group-add add-arr-01">
                                <label for="exampleInputName">Category<span>&#42;</span></label>

                                @Html.DropDownListFor(model => model.Category, new SelectList(Model.NoteCategoryList, "ID", "Name", Model.Category), "Select your notes Category", new { @class = "form-control", id = "category" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group-add for-big-add">
                                <label class="control-label-add">Display Picture *</label>


                                <input type="file" class="custom-file-input form-control" id="customFileLangHTML" accept="image/jpeg, image/jpg, image/png" name="DisplayPicture">
                                @if (!string.IsNullOrEmpty(Model.Picture))
                                {
                                    <p class="uploaded-data">To see your previously uploaded display notes picture <a href="@Url.Content(Model.Picture)" target="_blank">Click Here</a></p>
                                }

                            </div>


                        </div>

                        <div class="col-md-6">
                            <div class="form-group-add for-big-add-01">
                                <label class="control-label-add">Upload Notes *</label>
                                <input type="file" class="custom-file-input form-control" id="un" accept="application/pdf" , multiple="multiple" name="UploadNotes">
                                @if (!string.IsNullOrEmpty(Model.Note))
                                {
                                    <p class="uploaded-data">To see your previously uploaded notes <a href="@Url.Action("SearchNotes", "SearchNote", new { noteid = Model.NoteID })" target="_blank">Click Here</a></p>
                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group-add add-arr-01">
                                <label class="control-label-add">Type</label>
                                @Html.DropDownListFor(model => model.NoteType, new SelectList(Model.NoteTypeList, "ID", "Name", Model.NoteType), "Select your notes type", new { @class = "form-control", id = "type" })

                            </div>
                        </div>




                        <div class="col-md-6">
                            <div class="form-group-add">
                                <label class="control-label-add">Number of Pages</label>
                                @Html.TextBoxFor(model => model.NumberofPages, new { @class = "form-control", placeholder = "Enter number of pages" })
                                @Html.ValidationMessageFor(model => model.NumberofPages, "", new { @class = "text-danger" })
                            </div>
                        </div>








                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group-add for-big-add-03">
                                <label class="control-label-add">Description *</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter your decription", rows = "5" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>



                </div>




                <div class="container">
                    <div class="addnote-text">

                    </div>
                    <div class="row">

                        <h3 style="color:#6255a5">Institution information</h3>
                        <div class="add-form-02">





                            <form>

                                <div class="col-md-6">
                                    <div class="form-group-add">
                                        <label class="control-label-add">Country</label>
                                        @Html.DropDownListFor(model => model.Country, new SelectList(Model.CountryList, "ID", "Name", Model.Country), "Select your notes Category", new { @class = "form-control" })

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group-add">
                                        <label class="control-label-add">Institution Name</label>
                                        @Html.TextBoxFor(model => model.UniversityName, new { @class = "form-control", placeholder = "Enter your institution name" })
                                        @Html.ValidationMessageFor(model => model.UniversityName, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <h3 style="color:#6255a5">Course Details</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group s3">
                                <label for="exampleInputName" style="font-weight:100">Course Name</label>

                                @Html.TextBoxFor(model => model.Course, new { @class = "form-control", placeholder = "Enter your course name" })
                                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group s3">
                                <label for="exampleInputName" style="font-weight:100">Professor/Lecturer</label>
                                @Html.TextBoxFor(model => model.Professor, new { @class = "form-control", placeholder = "Enter your professor name" })
                                @Html.ValidationMessageFor(model => model.Professor, "", new { @class = "text-danger" })

                            </div>


                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group s3">
                                <label for="exampleInputName" style="font-weight:100">Course Code</label>
                                @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control", placeholder = "Enter your course code" })
                                @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color:#6255a5">Selling Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group s3">
                                <label class="control-label-add" style="font-weight:100">Sell for *</label><br>
                                <div class="form-check form-check-inline checkbox-inline check-1">
                                    @Html.RadioButtonFor(model => model.IsPaid, false, new
                                    {
                                        @name = "IsPaid",

                                        @checked = "checked",
                                   @class = "form-check-input radio-button",
                                        id = "free"
                                    })
                                    <label class="form-check-label" for="free" style="margin-left:10px;">Free</label>
                                </div>
                                <div class="form-check form-check-inline checkbox-inline check-2">
                                    @Html.RadioButtonFor(model => model.IsPaid, true, new { @name = "IsPaid", @checked = "checked", @class = "form-check-input radio-button", id = "paid" })
                                    <label class="form-check-label" for="paid" style="margin-left:10px;">Paid</label>
                                </div>
                            </div>



                            <div class="form-group s3">
                                <label for="exampleInputName" style="font-weight:100">Sell Price<span>&#42;</span></label>
                                @Html.TextBoxFor(model => model.SellingPrice, new { @class = "form-control", placeholder = "Enter your price" })
                            </div>



                        </div>

                        <div class="col-md-6">
                            <div class="form-group-add for-big-add-02">
                                <label class="control-label-add">Note Preview</label>
                                <input type="file" class="custom-file-input form-control" id="np" accept="application/pdf" name="NotesPreview" style="height:110px">
                                @if (!string.IsNullOrEmpty(Model.Preview))
                                {
                                    <p class="uploaded-data">To see your previously uploaded preview <a href="@Url.Content(Model.Preview)" target="_blank">Click Here</a></p>
                                }
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">

                            <a @Url.Action("~/AddNotes/AddNotes")><button type="submit" class="btn btn-primary btn-add-note"><span> SAVE </span></button></a>
                            <a data-target="#confirmation" role="button" data-toggle="modal"><button type="submit" class="btn btn-primary btn-add-note"><span>PUBLISH</span></button></a>

                        </div>

                        <div class="modal fade " id="confirmation" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog pop-up">
                                <div class="modal-content">
                                    <div class="modal-confirm-body">
                                        <div>
                                            <p class="confirm-text pop-up-text">
                                                Publishing this note will send note to administrator for review,
                                                once administrator review and approve then this note will be published to portal. Press yes to continue.
                                            </p>

                                            <div class="btn-confirm">
                                                <a class="btn btn-yes" href="@Url.Action("PublishNote", new { id = @Model.ID })" id="confirmationbutton" role="button">YES</a>
                                                <a class="btn btn-no" data-dismiss="modal" aria-label="Close" role="button">CANCEL</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>
                </div>





            </div>
        }


        <div class="container">
            <div class="row">

                <div class="user-end-01">
                    <p>Copyright <i class="fa fa-copyright"></i> All rights reserved</p>

                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <script src="~/js/jquery.js"></script>

    <!--Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    <script src="~/js/jquery.validate.min.js"></script>

    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>

    <!--custom js-->
    <script src="~/js/script.js"></script>

</body>

</html>

